table {
	margin: 0 auto !important;
}
table .remaining {
	color: #f00;
}
table .inactive {
	color: #888;
}

thead tr {
	background: #bbb !important;
}

td {
	min-width: 100px;
}

#refresh {
	padding: 0 !important;
}