.help {
	border-bottom: 1px dashed gray;

	cursor: help;
}

.popover {
	left: inherit;

	min-width: 100%;
}

.form-horizontal .checkbox {
	padding-top: 3.5px;
}

body {
	/*width: 500px;*/
}

img {
	max-width: 100%;
	height: auto;
}